/* Table of contents */
/* 1. FONTS */
/* 2. GENERAL STYLES */
/* 3. CONTAINER */
/* 4. SITE-HEADER */
/* 5. LOGO */
/* 6. EXCHANGE-RATES */
/* 7. SEARCH-BUTTON */
/* 8. LANGUAGE-TOGGLER */
/* 9. TELEGRAM-SUB */

/* FONTS */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  ​font-display: swap;
  src: url("../webfonts/rubik-v9-latin-regular.woff2") format("woff2"),
    url("../webfonts/rubik-v9-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  ​font-display: swap;
  src: url("../webfonts/Rubik-Medium.woff2") format("woff2"),
    url("../webfonts/Rubik-Medium.woff") format("woff"); 
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  ​font-display: swap;
  src: url("../webfonts/rubik-v9-latin-700.woff2") format("woff2"),
    url("../webfonts/rubik-v9-latin-700.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  ​font-display: swap;
  src: url("../webfonts/roboto-v20-latin-regular.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  ​font-display: swap;
  src: url("../webfonts/roboto-v20-latin-italic.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-italic.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  ​font-display: swap;
  src: url("../webfonts/roboto-v20-latin-500italic.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-500italic.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  ​font-display: swap;
  src: url("../webfonts/roboto-v20-latin-500.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-500.woff") format("woff"); 
}
/* GENERAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}
/* CONTAINER */
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 23px;
  border-top: 4px solid #295093;
  background-color: #F6F6F9;
}
.site-header__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
}
.site-header__actions {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
/* LOGO */
.logo {
  display: flex;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}
/* EXCHANGE-RATES */
.exchange-rates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 17px;
  list-style-type: none;
  color: #7A7A7A;
}
.exchange-rates__item:not(:last-child) {
  margin-right: 26px;
}
.exchange-rates__icon {
  color: #285193;
}
/* SEARCH-BUTTON */
.search-button {
  padding: 8px;
  border: none;
  margin-right: 22px;
  border-radius: 5px;
  background-color: #fff;
}
/* LANGUAGE-TOGGLER */
.language-toggler {
  padding: 10px;
  border: none;
  margin-right: 24px;
  border-radius: 5px;
  background-color: #fff;
}
/* TELEGRAM-SUB */
.telegram-sub {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #1E96C8;
  background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  text-decoration: none;
}
.telegram-sub__text {
  font-weight: 500;
}
