/* Table of contents */
/* 1. FONTS */
/* 2. GENERAL STYLES */
/* 3. CONTAINER */
/* 4. SITE-HEADER */
/* 5. LOGO */
/* 6. EXCHANGE-RATES */
/* 7. SEARCH-BUTTON */
/* 8. LANGUAGE-TOGGLER */
/* 9. TELEGRAM-SUB */
/* 10. SITENAV */
/* 10. TOP-BANNER */

/* FONTS */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  ​font-display: swap;
  src: url("../webfonts/rubik-v9-latin-regular.woff2") format("woff2"),
    url("../webfonts/rubik-v9-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  ​font-display: swap;
  src: url("../webfonts/Rubik-Medium.woff2") format("woff2"),
    url("../webfonts/Rubik-Medium.woff") format("woff"); 
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  ​font-display: swap;
  src: url("../webfonts/rubik-v9-latin-700.woff2") format("woff2"),
    url("../webfonts/rubik-v9-latin-700.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  ​font-display: swap;
  src: url("../webfonts/roboto-v20-latin-regular.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  ​font-display: swap;
  src: url("../webfonts/roboto-v20-latin-italic.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-italic.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  ​font-display: swap;
  src: url("../webfonts/roboto-v20-latin-500italic.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-500italic.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  ​font-display: swap;
  src: url("../webfonts/roboto-v20-latin-500.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-500.woff") format("woff"); 
}
/* GENERAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}
*:focus {
  outline: 0;
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
/* CONTAINER */
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 23px;
  border-top: 4px solid #295093;
  background-color: #F6F6F9;
}
.site-header__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 19px;
}
.site-header__logo {
  margin-right: 17px;
}
.site-header__exchange-rates {
  margin-right: 17px;
}
.site-header__actions {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.site-header__search-button {
  margin-right: 22px;
}
.site-header__language-toggler {
  margin-right: 24px;
}
/* LOGO */
.logo {
  display: flex;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.025);
}
.logo:focus {
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
/* EXCHANGE-RATES */
.exchange-rates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #7A7A7A;
}
.exchange-rates__item:not(:last-child) {
  margin-right: 26px;
}
.exchange-rates__icon {
  color: #285193;
}
/* SEARCH-BUTTON */
.search-button {
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.search-button__wrapper {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* LANGUAGE-TOGGLER */
.language-toggler {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.language-toggler__wrapper {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.language-toggler__img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}
.search-button:hover,
.language-toggler:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
/* TELEGRAM-SUB */
.telegram-sub {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #1E96C8;
  background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  text-decoration: none;
  transition: box-shadow 0.3s ease;
}
.telegram-sub:hover {
  background-color: #37AEE2;
  background-image: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
.telegram-sub__img {
  margin-right: 7px;
}
.telegram-sub__text {
  font-weight: 500;
}
/* SITENAV */
.sitenav {
  margin-bottom: 18px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
}
.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 17px 12px;
  margin: 0;
  list-style-type: none;
}
.sitenav__item {
  margin: 5px 12px;
}
.sitenav__link {
  display: block;
  font-size: 19px;
  line-height: 23px;
  font-weight: 500;
  color: #515151;
  text-decoration: none;
  transition: color 0.3s ease;
}
.sitenav__link:hover {
  color: #295091;
}
/* TOP-BANNER */
.top-banner__link {
  display: flex;
}
